.gradle

/Reports/**
!Reports/.gitkeep

.cache/Keywords/**
!.cache/.gitkeep
!.cache/Keywords/.gitkeep
.cache/**

output
!output/.gitkeep
build

.classpath

.project

*TempTestCase*.groovy
*TempTestSuite*.groovy
*.xlsx

*TempTestCase*.class
*TempTestSuite*.class